body{
    width: 100%;
    height: 100vh;
    background: 
    linear-gradient(
        #ffd1d4,
        #ff9b9f,
        #480bf7
    );
    color: whitesmoke;
    letter-spacing: 0.2em;
    font-size: 1.2em;
}
h1{
    letter-spacing: 0.5em;
}

.container{
    width: 600px;
}

form >input.category-input, form >input.category-input:focus, .card{
    background: transparent;
    color: whitesmoke;
}
form >input.category-input{
    border-color: #480bf7;
}
form >input.category-input::placeholder{
    color: whitesmoke;
}
.blockquote-footer{
    color: whitesmoke;
}
form>label{
    margin-bottom: 25px;
}